@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background-color: #F0F0F0;
}

/* Щоб не було випадання */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Щоб не було зайвих відступів */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 34px;
  }
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display {
  display: block;
}

.loader__text {
  font-family: inherit;
  color: #B92F2C;
  display: inline-block;
  margin-left: 5px;
}

.loader__bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.loader__bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #B92F2C;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  padding: 10px 22px;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 12px 22px;
  }
}
@media screen and (min-width: 768px) {
  .button {
    padding: 14px 24px;
  }
}
.button:not(:last-child) {
  margin-right: 4px;
}
@media screen and (min-width: 1200px) {
  .button:not(:last-child) {
    margin-right: 8px;
  }
}
.button:active {
  background: #000000;
  color: #FFFFFF;
}
.button__library {
  color: #B92F2C;
}
.button__library:active {
  background: #B92F2C;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .button__library:not(:last-child) {
    margin-right: 0;
    margin-left: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .button__library:not(:last-child) {
    margin-left: 8px;
  }
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .button-box {
    margin-bottom: 8px;
    padding-left: 14px;
    padding-top: 14px;
  }
}

.search-form {
  position: relative;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 10;
  width: 50px;
  cursor: pointer;
  background: none;
  color: #000000;
  line-height: 34px;
  border: none;
}

.fa-search::before {
  content: "\f002";
}

.library-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .library-button-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .library-button-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .library-button-box {
    right: 32px;
  }
}

.header-container {
  position: relative;
  background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-mob@1x.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .header-container {
    height: 460px;
    max-width: 280px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-container {
    background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    background-size: 768px;
    min-height: 222px;
    background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-container {
    background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    background-size: 1200px;
    min-height: 316px;
    background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-desktop@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-container {
    background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/header-images/abstract-background-desctop@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 16px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-box {
    padding-left: 32px;
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.search-form__input {
  width: 252px;
  height: 34px;
  margin-left: 14px;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    margin-left: 0;
    margin-right: 4px;
    width: 165px;
    height: 38px;
    font-weight: 14px;
    font-weight: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .search-form__input {
    margin-right: 8px;
    width: 187px;
    height: 42px;
  }
}
.search-form__input::-webkit-input-placeholder {
  color: #000000;
  padding: 14px 10px;
}
.search-form__input::-moz-placeholder {
  color: #000000;
  padding: 14px 10px;
}
.search-form__input:-ms-input-placeholder {
  color: #000000;
  padding: 14px 10px;
}
.search-form__input::-ms-input-placeholder {
  color: #000000;
  padding: 14px 10px;
}
.search-form__input::placeholder {
  color: #000000;
  padding: 14px 10px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .header-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-left: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    padding-left: 32px;
    padding-bottom: 32px;
  }
}

.logo-text {
  margin-left: 8px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-text {
    font-size: 64px;
  }
}

.logo-img {
  width: 32px;
  height: 32px;
  fill: none;
}
@media screen and (min-width: 768px) {
  .logo-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-img {
    width: 59px;
    height: 59px;
  }
}

.is-hidden {
  display: none;
}

.page-footer {
  background-color: #F7F7F7;
}
.page-footer__container {
  padding-bottom: 28px;
  padding-top: 28px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .page-footer__container {
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}
.page-footer__text {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__text {
    font-size: 16px;
    line-height: 1.19;
  }
}
.page-footer__text--underlined {
  text-decoration: underline;
}
.page-footer__text--underlined:hover {
  color: #B92F2C;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .page-footer__developers {
    max-width: 246px;
    margin: 0 auto;
  }
}
.page-footer__copyright {
  margin-right: 5px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .page-footer__copyright {
    max-width: 187px;
    margin: 0 auto 12px;
  }
}
.page-footer__image {
  width: 14px;
  height: 13px;
  margin-right: 10px;
  margin-left: 10px;
  fill: #B92F2C;
}
@media screen and (min-width: 768px) {
  .page-footer__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 490px;
    margin: 0 auto;
  }
}

.backdrop {
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 84, 84, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
  overflow-y: scroll;
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.modal-open {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 84, 84, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-film-open {
  overflow: hidden;
}

.modal-film {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 280px;
  padding: 48px 20px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .modal-film {
    width: 704px;
    padding: 40px 72px 44px 36px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film {
    width: 806px;
    padding: 40px 12px;
  }
}

.modal-film__trailer {
  width: 240px;
  height: 135px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .modal-film__trailer {
    width: 630px;
    height: 354px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__trailer {
    width: 782px;
    height: 440px;
  }
}

.modal-film__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-film__close--icon {
  width: 30px;
  height: 30px;
}
.modal-film__close:hover .modal-film__close--icon, .modal-film__close:focus .modal-film__close--icon {
  fill: #B92F2C;
}

.modal-film__img-box {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 240px;
  height: 357px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .modal-film__img-box {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__img-box {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal-film__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-film__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .modal-film__title {
    font-size: 30px;
  }
}

.modal-film__thumb {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .modal-film__thumb {
    -ms-flex-preferred-size: calc(50% - 68px);
        flex-basis: calc(50% - 68px);
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__thumb {
    -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
  }
}

.modal-film__about {
  list-style: none;
  margin-bottom: 20px;
}

.modal-film__about-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-film__about-line:not(:last-child) {
  margin-bottom: 8px;
}

.modal-film__about-line--name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media screen and (min-width: 768px) {
  .modal-film__about-line--name {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
}

.modal-film__about-line--name {
  color: #8C8C8C;
}

.modal-film__about-line--red {
  background-color: #B92F2C;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 1px 10px;
}

.modal-film__about-line--slash {
  color: #8C8C8C;
}

.modal-film__about-line--up {
  text-transform: uppercase;
}

.modal-film__subtitle {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-film__description {
  line-height: 20px;
  margin-bottom: 20px;
}

.modal-film__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .modal-film__btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.modal-film__btn--watch {
  width: 125px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #000000;
  color: #B92F2C;
  cursor: pointer;
}
.modal-film__btn--watch:hover, .modal-film__btn--watch:focus {
  background-color: #B92F2C;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .modal-film__btn--watch {
    width: 137px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__btn--watch {
    width: 165px;
  }
}

.modal-film__btn--queue {
  width: 111px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #000000;
  color: #B92F2C;
  cursor: pointer;
}
.modal-film__btn--queue:hover, .modal-film__btn--queue:focus {
  background-color: #B92F2C;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .modal-film__btn--queue {
    width: 119px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__btn--queue {
    width: 134px;
  }
}

@media screen and (min-width: 768px) {
  .modal-film__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal-team {
  position: relative;
  z-index: 9999;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 5px 10px #B92F2C, 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 10px #B92F2C, 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .modal-team {
    max-width: 460px;
  }
}
@media screen and (min-width: 1000px) {
  .modal-team {
    max-width: 960px;
  }
}
.modal-team__container {
  width: 100%;
}
.modal-team__text {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  color: #B92F2C;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .modal-team__text {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1000px) {
  .modal-team__text {
    font-size: 64px;
    line-height: 1.18;
  }
}
.modal-team__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px auto 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .modal-team__image {
    margin: 0 auto;
  }
}
.modal-team__gallery {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modal-team__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.modal-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-color: #B92F2C;
  background-color: #FFFFFF;
}
.modal-team__item:hover {
  -webkit-box-shadow: 0px 0px 2px 2px #B92F2C, 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 2px #B92F2C, 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media screen and (max-width: 999px) {
  .modal-team__item {
    padding-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .modal-team__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .modal-team__item {
    -ms-flex-preferred-size: calc(20% - 30px);
        flex-basis: calc(20% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .modal-team__item {
    max-width: 360px;
    margin: 0 auto;
  }
  .modal-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.modal-team__content {
  position: relative;
  padding: 10px 10px;
  text-align: center;
}
.modal-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #B92F2C;
}
@media screen and (min-width: 1000px) {
  .modal-team__title {
    font-size: 13px;
    line-height: 1.17;
  }
}
.modal-team__position {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1000px) {
  .modal-team__position {
    font-size: 12px;
    line-height: 1.17;
  }
}

.close-btn {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 12px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.close-btn__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: #000000;
}
.close-btn__icon:hover, .close-btn__icon:focus {
  fill: #B92F2C;
}

@media screen and (min-width: 768px) {
  .close-btn--icon-mob {
    display: none;
  }
}

.close-btn--icon-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .close-btn--icon-desk {
    display: block;
  }
}

.modal-team__overlay {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: rotateY("180deg");
          transform: rotateY("180deg");
  -webkit-transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1050ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1050ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1050ms cubic-bezier(0.4, 0, 0.2, 1), opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1050ms cubic-bezier(0.4, 0, 0.2, 1), opacity 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1050ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #B92F2C;
}
.modal-team__item:hover .modal-team__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}/*# sourceMappingURL=index.css.map */