<footer class="page-footer">
    <div class="page-footer__container container">
        <div class="page-footer__div">
            <div class="page-footer__copyright">
                <span class="page-footer__text">&copy; 2023 | All Rights Reserved |</span>
            </div>
            <div class="page-footer__developers">        
                <span class="page-footer__text">Developed with</span>
                <svg class="page-footer__image" width="14" height="13">
                    <use href="./images/symbol-defs.svg#icon-favorite"></use>
                </svg>
                <a><span class="page-footer__text">by</span> <span class="page-footer__text page-footer__text--underlined" data-modal-team-open>GoIT Students</span></a>
            </div>
        </div>      
    </div>
</footer>