<header class="page-header">
  <div class="container header-container">
    <form id="search-form" class="search-form">
      <div class="search-box">
        <input
          type="text"
          class="search-form__input"
          placeholder="Movie search"
        />
        <button type="submit" class="search-form__button"></button>
      </div>
    </form>
    <div class="nav-box">
      <button type="button" class="button-home">Home</button>
      <button type="button" class="button-library">My library</button>
      <a href="#" class="logo header-logo">
        <img src="src\images\header-images\logo@1x.png" />
        <span class="logo-text">Filmoteka</span>
      </a>
    </div>
  </div>
</header>
