.button{
    font-family: 'Roboto';
    cursor: pointer;
     
    font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
    
        display: flex;
        
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: $primary-black-color;
        
        background: $primary-white-color;
        border-radius: 100px;
        border: none;
        padding: 10px 22px;

        @media screen and (min-width:768px) {
            padding: 12px 22px;
        }
        @media screen and (min-width:1200px) {
            padding: 14px 24px;
                }
        &:not(:last-child){
            margin-right: 4px;
            
            @media screen and (min-width:1200px) {
                margin-right: 8px;
            }
        }
        
        &__library{
            color: $primary-red-color;
            &:hover,:focus{
                background-color:$primary-red-color; 
                color: $primary-white-color;
                transition: color 300ms;
            }
            &:not(:last-child) {
                 
            @media screen and (min-width:768px) {
                    margin-right: 0;
                    margin-left: 4px;
                    }
                
            
            @media screen and (min-width:1200px) {
                margin-left: 8px;
                            }
                        }
        }
}
.is-active {
    background: $primary-black-color;
    color: $primary-white-color;
}
.button-box{
    display: flex;
    gap: 8px;
   

    &__item:hover,:focus{
        background: $primary-black-color;
        color: $primary-white-color;
        transition: color  300ms;
    }
   
    @media screen and (max-width:767px) {
        flex-wrap: wrap;
        margin-bottom: 8px;
            padding: 14px;
    }
}
.search-form{
    position: relative;
}
.search-form__button{  
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 10;
    width: 50px;
    
    cursor: pointer;
    
    background: none;
    
    color:$primary-black-color;
            
    line-height: 34px;
   border: none;
}
.btn-current{
    background-color:$primary-red-color;
    color: $primary-white-color;
}
.fa-search::before {
    content: "\f002";
}
.library-button-box{
    display: flex;
    
@media screen and (max-width:767px) {
    justify-content: center;
        padding-bottom: 24px;
}
@media  screen and (min-width:768px) {
    flex-direction: row-reverse;
    position: absolute;
    top:16px;
    right: 16px;
}
@media screen and (min-width:1200px) {
    right: 32px;
}
}
