.loader {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__text {
    font-family: inherit;
    color: $primary-red-color;
    display: inline-block;
    margin-left: 5px;
}

.loader__bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;

    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $primary-red-color;
        transform-origin: 50%;
        animation: bounce 500ms alternate infinite ease;
    }
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }

    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}