.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-color: $primary-grey-color;
  
  }
  
  .is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal-film{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 930px;
  
  padding: 48px 20px 40px;
  
  background-color: #fff;
  
  @media screen and (min-width: 768px){
   width: 704px;
   height: 552px;
   padding: 40px 72px 64px 36px;
  }
  
  @media screen and (min-width: 1280px){
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
  }
  
  
  .modal-film__close{
    position: absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
  
    border: none;
  
   cursor: pointer;
  
   display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-film__close--icon{
    width: 20px;
    height: 20px;
  
    .modal-film__close:hover &,
    .modal-film__close:focus &{
        fill: $primary-red-color;
    }
  }
  
  .modal-film__img-box{
    border-radius: 5px;
    margin-bottom: 20px;
    width: 240px;
    height: 357px;
  
    @media screen and (min-width: 768px) {
      width: 264px;
      height: 374px;
      margin-right: 68px;
    }
  
    @media screen and (min-width: 1280px){
        width: 375px;
        height: 478px;
        margin-right: 16px;
    }
  }
  
  .modal-film__title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
  
  margin-bottom: 20px;
  
  @media screen and (min-width: 1280px){
    font-size: 30px;
  }
  }
  
  .modal-film__thumb{
    font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 68px)
  }
  
  @media screen and(min-width: 1280px) {
    flex-basis: calc(100% / 2 - 16px)
  }
  }
  
  
  .modal-film__about{
    list-style: none;
    margin-bottom: 20px;
  }
  
  .modal-film__about-line{
    display: flex;
  
  &:not(:last-child){
    margin-bottom: 8px;
  }
  }
  
  .modal-film__about-line--name{
    flex-basis: calc(100% /2);
  
    @media screen and (min-width: 768px){
        flex-basis: calc(100% /3);
    }
  }
  
  .modal-film__about-line--name{
    color: $primary-grey-color;
  }
  
  .modal-film__about-line--red{
    background-color: $primary-red-color;
    border-radius: 5px;
    color: $primary-white-color;
    padding: 1px 10px;
  
  }
  
  .modal-film__about-line--slash{
    color: $primary-grey-color;
  }
  
  .modal-film__about-line--up{
    text-transform: uppercase;
  }
  
  .modal-film__subtitle{
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px;
  }
  
  .modal-film__description{
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  .modal-film__btns{
  display: flex;
  justify-content: space-between;
  
  @media screen and (min-width: 1280px){
    justify-content: start;
  }
  }
  
  .modal-film__btn--watch{
    width: 125px;
    height: 34px;
    border-radius: 100px;
    border: 1px solid $primary-black-color;
    color: $primary-red-color;
    cursor: pointer;
  
    &:hover,
    &:focus{
        background-color: $primary-red-color;
        color: $primary-white-color;
    }
  
    @media screen and (min-width: 768px) {
        width: 137px;
        margin-right: 8px;
    }
  
    @media screen and (min-width: 1280px) {
        width: 165px;
    }
  }
  
  .modal-film__btn--queue{
    width: 111px;
    height: 34px;
    border-radius: 100px;
    border: 1px solid $primary-black-color;
    color: $primary-red-color;
    cursor: pointer;
  
    &:hover,
    &:focus{
        background-color: $primary-red-color;
        color: $primary-white-color;
    }
  
    @media screen and (min-width: 768px) {
        width: 119px;
    }
  
    @media screen and (min-width: 1280px) {
        width: 134px;
    }
  }
  
  .modal-film__wrapper{
    @media screen and (min-width: 768px){
        display: flex;
      }
  }