.scroll-up {
  opacity: 0;
  position: fixed;
  background: transparent;
  bottom: 2%;
  right: 2%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  fill: #b92f2c;
  border-radius: 50%;

  &:hover {
    fill: #b92f2c;
    background-color: #e08a89;
    opacity: 1;
  }
}

.scroll-up.show {
  opacity: 1;
  visibility: visible;
}

.scroll-up:not(:hover) {
  filter: blur(1px);
}
